In [1]:
import pandas as pd

In [2]:
inspec_data = "new_inspection_data_2019.csv"
data = pd.read_csv(inspec_data)
data.head()

C:\Users\jerem\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (69,70,71,72,73,74,75,76,77,78,79,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_id,inspection_type,latitude,license_,...,violation_29_comment,violation_30_type,violation_30_comment,violation_31_type,violation_31_comment,violation_32_type,violation_32_comment,violation_33_type,violation_33_comment,violation_count
0,4634-4636 N KEDZIE AVE,SALAM RESTAURANT,CHICAGO,SALAM RESTAURANT,Restaurant,2019-10-25,2320519,Complaint Re-Inspection,41.965719,2002822.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2114 W LAWRENCE AVE,TAQUERIA EL DORADO,CHICAGO,TAQUERIA EL DORADO,Restaurant,2019-10-25,2320509,License Re-Inspection,41.968820,2694960.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
2,2653 W OGDEN AVE,GADS HILL CHILD CARE CENTER,CHICAGO,GADS HILL CHILD CARE CENTER,Children's Services Facility,2019-10-24,2320368,License,41.862273,2215799.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,6925 S PULASKI RD,DUNKIN DONUTS/BASKIN ROBBINS,CHICAGO,DUNKIN DONUTS/BASKIN ROBBINS,Restaurant,2019-10-24,2320374,Complaint Re-Inspection,41.766871,1909364.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
4,5209-5215 W FULLERTON AVE,FULLERTON DOLLAR PLUS,CHICAGO,"FULLERTON DOLLAR PLUS, INC.",Grocery Store,2019-10-24,2320419,License,41.923991,2689437.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4

In [3]:
# violation_data = data[data.columns.drop('address', 'aka_name', 'city', 'facility_type', 'inspection_date',
#                                        'inspection_type', 'latitude', 'location', 'longitude',
#                                        'results','risk','state','violations','zip')]

violation_data = data.drop(['address', 'aka_name', 'city', 'dba_name', 'facility_type', 'inspection_date',
                                       'inspection_type', 'latitude', 'location', 'longitude',
                                       'results','risk','state','violations','zip', 'violation_count'], axis = 1)
violation_data.head()

,inspection_id,license_,violation_1_type,violation_1_comment,violation_2_type,violation_2_comment,violation_3_type,violation_3_comment,violation_4_type,violation_4_comment,...,violation_29_type,violation_29_comment,violation_30_type,violation_30_comment,violation_31_type,violation_31_comment,violation_32_type,violation_32_comment,violation_33_type,violation_33_comment
0,2320519,2002822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2320509,2694960.0,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",FOUND NO EMPLOYEE HEALTH POLICY ON SITE. INSTR...,5. PROCEDURES FOR RESPONDING TO VOMITING AND D...,: FOUND NO PROCEDURE/PLAN FOR RESPONDING TO VO...,25. CONSUMER ADVISORY PROVIDED FOR RAW/UNDERCO...,FOUND NO CONSUMER ADVISORY DISCLOSURE AND REMI...,50. HOT & COLD WATER AVAILABLE; ADEQUATE PRESS...,FOUND NO HOT RUNNING WATER THROUGHOUT IN ALL S...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2320368,2215799.0,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,ONSERVED THE ADULT WOMENS RESTROOM PUSH FAUCET...,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",OBSERVED THE WALL AROUND THE UTILITY MOP SINK ...,56. ADEQUATE VENTILATION & LIGHTING; DESIGNATE...,OBSERVED THE LIGHT SHIELD OVER THE HANDSINK NO...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2320374,1909364.0,"38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...",SEE VIOLATION #59.,47. FOOD & NON-FOOD CONTACT SURFACES CLEANABLE...,FOUND THE CUTTING BOARD ON TOP OF THE PREP REA...,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",THE FLOORS IN THE CORNERS AND UNDER/AROUND THE...,57. ALL FOOD EMPLOYEES HAVE FOOD HANDLER TRAIN...,NO PROOF OF FOOD HANDLER TRAINING FOR EMPLOYEE...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2320419,2689437.0,33. PROPER COOLING METHODS USED; ADEQUATE EQUI...,OBSERVED THE FREEZER NOT PLUGGED IN AT THIS TI...,"38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...",NO PEST CONTROL BOOK PROVIDED FROM A LICENSED ...,"38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...",OBSERVED A 1/2' GAP ALONG THE BOTTOM OF THE RE...,50. HOT & COLD WATER AVAILABLE; ADEQUATE PRESS...,OBSERVED NO HOT WATER ON THE PREMISES. MANAGE...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
violation_type = violation_data[violation_data.columns.drop(list(violation_data.filter(regex='comment')))]
violation_type.head()

,inspection_id,license_,violation_1_type,violation_2_type,violation_3_type,violation_4_type,violation_5_type,violation_6_type,violation_7_type,violation_8_type,...,violation_24_type,violation_25_type,violation_26_type,violation_27_type,violation_28_type,violation_29_type,violation_30_type,violation_31_type,violation_32_type,violation_33_type
0,2320519,2002822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2320509,2694960.0,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",5. PROCEDURES FOR RESPONDING TO VOMITING AND D...,25. CONSUMER ADVISORY PROVIDED FOR RAW/UNDERCO...,50. HOT & COLD WATER AVAILABLE; ADEQUATE PRESS...,"53. TOILET FACILITIES: PROPERLY CONSTRUCTED, S...","53. TOILET FACILITIES: PROPERLY CONSTRUCTED, S...",56. ADEQUATE VENTILATION & LIGHTING; DESIGNATE...,58. ALLERGEN TRAINING AS REQUIRED - Comments: ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2320368,2215799.0,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",56. ADEQUATE VENTILATION & LIGHTING; DESIGNATE...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2320374,1909364.0,"38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...",47. FOOD & NON-FOOD CONTACT SURFACES CLEANABLE...,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED ...",57. ALL FOOD EMPLOYEES HAVE FOOD HANDLER TRAIN...,59. PREVIOUS PRIORITY FOUNDATION VIOLATION COR...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2320419,2689437.0,33. PROPER COOLING METHODS USED; ADEQUATE EQUI...,"38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...","38. INSECTS, RODENTS, & ANIMALS NOT PRESENT - ...",50. HOT & COLD WATER AVAILABLE; ADEQUATE PRESS...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
comment_data = violation_data[violation_data.columns.drop(list(violation_data.filter(regex='type' )))]
comment_data.head()

,inspection_id,license_,violation_1_comment,violation_2_comment,violation_3_comment,violation_4_comment,violation_5_comment,violation_6_comment,violation_7_comment,violation_8_comment,...,violation_24_comment,violation_25_comment,violation_26_comment,violation_27_comment,violation_28_comment,violation_29_comment,violation_30_comment,violation_31_comment,violation_32_comment,violation_33_comment
0,2320519,2002822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2320509,2694960.0,FOUND NO EMPLOYEE HEALTH POLICY ON SITE. INSTR...,: FOUND NO PROCEDURE/PLAN FOR RESPONDING TO VO...,FOUND NO CONSUMER ADVISORY DISCLOSURE AND REMI...,FOUND NO HOT RUNNING WATER THROUGHOUT IN ALL S...,"PROPERLY CONSTRUCTED, SUPPLIED, & CLEANED - Co...","PROPERLY CONSTRUCTED, SUPPLIED, & CLEANED - Co...",LIGHT BULBS IN FOOD PREP AREA NOT SHIELDED.INS...,ALLERGEN TRAINING IS REQUIRED FOR ALL EMPLOYEE...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2320368,2215799.0,ONSERVED THE ADULT WOMENS RESTROOM PUSH FAUCET...,OBSERVED THE WALL AROUND THE UTILITY MOP SINK ...,OBSERVED THE LIGHT SHIELD OVER THE HANDSINK NO...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2320374,1909364.0,SEE VIOLATION #59.,FOUND THE CUTTING BOARD ON TOP OF THE PREP REA...,THE FLOORS IN THE CORNERS AND UNDER/AROUND THE...,NO PROOF OF FOOD HANDLER TRAINING FOR EMPLOYEE...,FOUND THE PREVIOUS PRIORITY FOUNDATION VIOLATI...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2320419,2689437.0,OBSERVED THE FREEZER NOT PLUGGED IN AT THIS TI...,NO PEST CONTROL BOOK PROVIDED FROM A LICENSED ...,OBSERVED A 1/2' GAP ALONG THE BOTTOM OF THE RE...,OBSERVED NO HOT WATER ON THE PREMISES. MANAGE...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
for col in violation_type.columns[2:]:
    print(col)

violation_1_type
violation_2_type
violation_3_type
violation_4_type
violation_5_type
violation_6_type
violation_7_type
violation_8_type
violation_9_type
violation_10_type
violation_11_type
violation_12_type
violation_13_type
violation_14_type
violation_15_type
violation_16_type
violation_17_type
violation_18_type
violation_19_type
violation_20_type
violation_21_type
violation_22_type
violation_23_type
violation_24_type
violation_25_type
violation_26_type
violation_27_type
violation_28_type
violation_29_type
violation_30_type
violation_31_type
violation_32_type
violation_33_type

In [7]:
max_number_violations = len(col)

In [8]:
# Strip off just the violation number
i = 1
for violation in range(0, max_number_violations):
    viol = f"violation_{i}_type"
    violation_type[viol] = violation_type[viol].str.lstrip().str[:2].str.strip('.')
    i += 1

C:\Users\jerem\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [9]:
violation_type.head()

,inspection_id,license_,violation_1_type,violation_2_type,violation_3_type,violation_4_type,violation_5_type,violation_6_type,violation_7_type,violation_8_type,...,violation_24_type,violation_25_type,violation_26_type,violation_27_type,violation_28_type,violation_29_type,violation_30_type,violation_31_type,violation_32_type,violation_33_type
0,2320519,2002822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2320509,2694960.0,3,5,25,50,53,53,56,58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2320368,2215799.0,10,55,56,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2320374,1909364.0,38,47,55,57,59,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2320419,2689437.0,33,38,38,50,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Count Violation Types
i = 1
for count in range(0, 63):
    viol_count = f"v{i}"
    viol = f"{i}"
    violation_type[viol_count] = (violation_type.iloc[:,2:] == viol).sum(axis=1)
    i += 1

C:\Users\jerem\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\jerem\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [11]:
violation_type['violation_count']=data['violation_count']
violation_type.head(10)

,inspection_id,license_,violation_1_type,violation_2_type,violation_3_type,violation_4_type,violation_5_type,violation_6_type,violation_7_type,violation_8_type,...,v55,v56,v57,v58,v59,v60,v61,v62,v63,violation_count
0,2320519,2002822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,2320509,2694960.0,3,5,25,50,53,53,56,58,...,0,1,0,1,0,0,0,0,0,8
2,2320368,2215799.0,10,55,56,NaN,NaN,NaN,NaN,NaN,...,1,1,0,0,0,0,0,0,0,3
3,2320374,1909364.0,38,47,55,57,59,NaN,NaN,NaN,...,1,0,1,0,1,0,0,0,0,5
4,2320419,2689437.0,33,38,38,50,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,4
5,2320407,1985220.0,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
6,2320414,2215757.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
7,2320367,23562.0,3,5,23,39,53,55,NaN,NaN,...,1,0,0,0,0,0,0,0,0,6
8,2320370,2215988.0,5,10,38,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,3
9,2320377,2665084.0,3,5,48,51,51,53,57,58,...,0,0,1,1,0,0,0,0,0,8

In [12]:
violation_type['Management']=violation_type[['v1', 'v2', 'v3', 'v4', 'v25', 'v29', 'v32', 'v57', 'v58']].sum(axis=1)
violation_type['Hygienic Practices']=violation_type[['v5', 'v6', 'v7', 'v8', 'v9', 'v10', 'v40']].sum(axis=1)
violation_type['Food Preperation']=violation_type[['v11', 'v12', 'v13', 'v14', 'v15', 'v16', 
                                                    'v17', 'v18', 'v19', 'v20', 'v24', 'v26',
                                                     'v27','v28', 'v30', 'v31', 'v33', 'v34', 
                                                    'v35', 'v36', 'v37', 'v39', 'v42']].sum(axis=1)
violation_type['Pests & Rodents']=violation_type[['v38']].sum(axis=1)
violation_type['Utensils & Equipment']=violation_type[['v41', 'v43', 'v44', 'v45', 'v46', 'v47','v48', 'v49']].sum(axis=1)
violation_type['Phyiscal Facilities']=violation_type[['v50', 'v51', 'v52', 'v53', 'v54', 'v55', 'v56']].sum(axis=1)
violation_type['Compliance']=violation_type[['v59', 'v60', 'v61', 'v62', 'v63']].sum(axis=1)
violation_type.head(20)

,inspection_id,license_,violation_1_type,violation_2_type,violation_3_type,violation_4_type,violation_5_type,violation_6_type,violation_7_type,violation_8_type,...,v62,v63,violation_count,Management,Hygienic Practices,Food Preperation,Pests & Rodents,Utensils & Equipment,Phyiscal Facilities,Compliance
0,2320519,2002822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,2320509,2694960.0,3,5,25,50,53,53,56,58,...,0,0,8,3,1,0,0,0,4,0
2,2320368,2215799.0,10,55,56,NaN,NaN,NaN,NaN,NaN,...,0,0,3,0,1,0,0,0,2,0
3,2320374,1909364.0,38,47,55,57,59,NaN,NaN,NaN,...,0,0,5,1,0,0,1,1,1,1
4,2320419,2689437.0,33,38,38,50,NaN,NaN,NaN,NaN,...,0,0,4,0,0,1,2,0,1,0
5,2320407,1985220.0,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,0,0,0,1,0
6,2320414,2215757.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
7,2320367,23562.0,3,5,23,39,53,55,NaN,NaN,...,0,0,6,1,1,1,0,0,2,0
8,2320370,2215988.0,5,10,38,NaN,NaN,NaN,NaN,NaN,...,0,0,3,0,2,0,1,0,0,0
9,2320377,2665084.0,3,5,48,51,51,53,57,58,...,0,0,8,3,1,0,0,1,3,0
10,2320440,2698301.0,47,53,55,NaN,NaN,NaN,NaN,NaN,...,0,0,3,0,0,0,0,1,2,0
11,2320441,2215555.0,55,55,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,2,0,0,0,0,0,2,0
12,2320389,2215965.0,54,55,56,NaN,NaN,NaN,NaN,NaN,...,0,0,3,0,0,0,0,0,3,0
13,2320364,15956.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
14,2320423,1198178.0,3,5,25,38,55,55,58,NaN,...,0,0,7,3,1,0,1,0,2,0
15,2320430,2694477.0,3,48,51,55,58,NaN,NaN,NaN,...,0,0,5,2,0,0,0,1,2,0
16,2320384,2363029.0,14,25,41,47,48,55,56,57,...,0,0,10,3,0,1,0,3,2,1
17,2320388,2678198.0,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,0,0,0,1,0
18,2320421,2698310.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
19,2320443,2694525.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [13]:
violation_type.to_csv("violation_count.csv")

In [14]:
#Groupby License Number
license_viol_count = violation_type.groupby(['license_']).sum()

In [15]:
license_viol_count = license_viol_count.drop(columns="inspection_id")
license_viol_count.head()

,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,...,v62,v63,violation_count,Management,Hygienic Practices,Food Preperation,Pests & Rodents,Utensils & Equipment,Phyiscal Facilities,Compliance
license_,,,,,,,,,,,,,,,,,,,,,
0.0,2,5,13,0,18,0,0,0,0,6,...,0,0,135,30,24,16,9,11,40,0
9.0,1,1,1,0,1,0,0,0,0,3,...,0,0,16,4,4,2,0,0,4,0
115.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
149.0,0,0,1,0,2,0,0,0,0,3,...,0,0,23,5,5,1,1,5,4,0
164.0,0,1,0,0,0,0,0,0,0,0,...,0,0,11,3,0,2,0,0,3,2

In [16]:
license_viol_count.to_csv("license_viol_count.csv")